*{
    color: #232c33;
    text-decoration: none;
    font-size: 20px;
}

body{
    background-color: #f3f7f0;
    margin:0;
}

.content{
    border-bottom: 1px solid #232c33;
}

/* #region header */
#main{
    width:1000px;
    margin:0px auto;
    padding: 0 15px;
    border-left: 1px solid #232c33;
    border-right: 1px solid #232c33;
}

header{
    height:100px;
    border-bottom: 1px solid #232c33;
}

h1{
    margin-top:0;
    line-height: 60px;
    text-align: center;
    margin-bottom: 0;
    font-size: 32px;
}

h2{
    text-align: center;
    margin-top:0;
    line-height: 20px;
    font-size: 26px;
}

/* #endregion */

/* #region menu */
.menu{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #232c33;
}

.menu a, menu a:visited{
    border:1px solid #6DA34D;
    padding:5px;
    margin:10px;
    flex-grow: 1;
    text-align:center;
}

.menu a:hover{
    color: #6DA34D;
    border:1px solid #6DA34D;
}

.menu a:active{
    color: #f3f7f0;
    background-color: #6DA34D;
    border:1px solid #6DA34D;
}

/* #endregion */

/* #region footer*/
footer{
    display: flex;
    justify-content: space-evenly;
}

footer a, footer a:visited{
    text-align:center;
    padding:5px;
    margin:10px;
}

footer a:hover, footer a:active{
    color: #6DA34D;
}


/* #endregion*/

/* #region main */

.main_news{
    list-style-type: none;
    margin-top: 0;
    padding: 0 20px;
}

.main_news li h3{
    font-size: 22px;
}

.main_news li{
    border-bottom: 1px #232c33 dashed;
    padding:10px;
}

.main_news li:last-child{
    border-bottom: none;
}

/* #endregion */

/* #region monitor*/

/*.icon_setting{
    height:30px;
    width:30px;
    position: relative;
    left:950px;
    margin:10px;
}*/

.monitor_news{    
    list-style-type: none;
    margin-top: 0;
    padding: 0 20px;
}

.monitor_news li{
    border-top: 1px #232c33 dashed;
    padding:10px;
}

.monitor_setting {
    text-align: center;
    margin:10px;
}

.setting_container{
    display: flex;
    justify-content: center;
}

.monitor_news form{
    display: flex;
    flex-direction: row;
}

.monitor_news input,   #vol_search input{
    height:25px;
    font-size: 18px;
    padding:2px 4px;
    line-height: 18px;
    box-sizing: content-box;
    margin:0 10px;
    border:1px solid #232c33;
    background-color: #f3f7f0;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.news_deny:hover, .news_accept:hover{
    color: #6DA34D;
    border:1px solid #6DA34D;
}

.news_accept:active{
    color: #f3f7f0;
    background-color: #6DA34D;
    border:1px solid #6DA34D;
}

.news_deny:active{
    color: #f3f7f0;
    background-color: #232c33;
    border:1px solid #232c33;
}



.link_container{
    width:700px;
}


/* #endregion */

/* #region grom_vol_org */

#form_post_form{
    width: 420px;
}

#form_post_form label{
    width:100px;
}

#vol_search{
    border-bottom: 1px #232c33 dashed;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.form{
    width:400px;
    border:1px solid #232c33;
    padding:10px;
}

.form label{
    width:80px;
    display: inline-block;
}

.form_row{
    margin:10px 0 0 0;
    box-sizing: content-box;
}

.form input, .form textarea, #vol_search input{
    font-size:16px;
    line-height: 16px;
}

.form input[type=text], .form input[type=email], .form textarea, #vol_search input[type=text]{
    font-size:14px;
    line-height: 14px;
    box-sizing: content-box;
    border:1px solid #232c33;
    background-color: #f3f7f0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width:300px;
}

.form textarea{
    height:240px;
    resize: none;
}

.form input[type=button],  #vol_search input[type=button]{
    border:1px solid #232c33;
    padding:5px;
    margin-top:10px;
    flex-grow: 1;
    text-align:center;
}

.form input[type=button]:hover{
    color: #6DA34D;
    border:1px solid #6DA34D;
}

.form input[type=text]:focus, .form input[type=email]:focus, .form textarea:focus, #vol_search[type=text]:focus{
    border:1px solid #6DA34D;
}

.form input[type=button]:active, #vol_search input[type=button]:active{
    color: #f3f7f0;
    background-color: #6DA34D;
    border:1px solid #6DA34D;
}

.form_news:first-child{
    border-top:none;
}

.form_title{
    text-align: center;
}
/* #endregion */



